.key-container {
    display: flex;
    justify-content: space-between;
}
.key-background {
    background-color: #d8d3d3;
}
.keys {
   width: 70px;
   height: 70px;
   border: 1px solid #ddd;
   border-radius: 5px;
   color: #fff;
   line-height: 70px;
   background-color: #8c9eb3;
   margin-bottom: 4px;
   cursor: pointer;
}
.keys:hover, .keys-big:hover, .keys-op:hover
{
    opacity: 0.8;
}
.keys-big {
    width: 174px;
    height: 70px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fff;
    line-height: 70px;
    background-color: #8c9eb3;
    cursor: pointer;
}
.keys-op {
    width: 70px;
    height: 70px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fff;
    line-height: 70px;
    background-color: #ea8c8c;
    cursor: pointer;
}
/* Display part */
.display-container {
    background-color: #f6eadf;
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 40px;
    height: 60px;
    padding: 5px;
}
.upper {
    font-size: 14px;
    font-weight: bold;
    text-align: end;
    margin-right: 10px;
}
.main {
    text-align: end;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
}